/* body {
  margin-top: 40px; This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles.
} */

body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
}

/* This box class is purely used for explaining how the bootstrap grid system works. */
.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}

/* .navbar-brand img{
  size: 200px;
} */

.card{
  max-width: 300px;
  max-height: 500px;
}

.row{
  padding-top: 50px;
}
.col-md-3{
  padding: 20px;
}